.card{
    width: 25%;
    height: calc(50vh - 40px);
    background-color: $dark;
    color: $dark;
    padding: 0px;
    font-family: "Open Sans";
    position: relative;
    // border-style: solid;
    // border-width: 1px;
    // border-color: $dark;
    h1{
        // text-align: center;
        font-size: 32px;
        margin-bottom: 5px;
        margin-top: 0px;
        margin-left: 5px;
        // text-align: center;
    }
    .card-text{
        padding: 5px;
        list-style: none;
        padding-top: 15px;
        padding-bottom: -5px;
        margin-left: 10px;
        margin-right: 10px;
        li{
            font-size: 20px;
            .bold{
                font-weight: 600;
            }
            margin-bottom: 15px;
        }
        
    }

    .terminate{
        color: $dark;
        border-style: solid;
        background: transparent;
        border-width: 2px;
        border-radius: 4px;
        border-color: $dark;
        padding-top: 17px;
        height: 60px;
        width: 150px;
        font-size: 20px;
        display: flex;
        align-content: center;
        justify-content: center;
        position: absolute;
        left: calc(50% - 75px);
        bottom: 20px;
        cursor: pointer;
        &:hover{
            border-color: $red;
            color: $red;
            font-weight: 700;
        }
    }
    .hide-terminate{
        color: transparent;
        border-style: solid;
        background: transparent;
        border-width: 2px;
        border-radius: 4px;
        border-color: transparent;
        padding-top: 17px;
        height: 60px;
        width: 150px;
        font-size: 20px;
        display: flex;
        align-content: center;
        justify-content: center;
        position: absolute;
        left: calc(50% - 75px);
        bottom: 20px;
    }
    .hide{
        color: transparent;

    }
    .power-hide{
        width: 0%;
        height: 10px;
        background-color: $red;
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
    .power-on{
        height: 10px;
        -webkit-transition: width 3s;
        transition: width 3s;
        width: 100%;
        background-color: $red;
        position: absolute;
        left: 0px;
        bottom: 0px;
    }

}

.victory{
    width: 0px;
}

.Alderaan{
    background-image: url('../components/Body/Card/img/Alderaan.jpg');
    width: 100%;
    height: calc(50vh - 40px);
    background-size: cover;
    background-position: center;
    color: transparent;
    border-color: transparent;
    position: relative;
    &:hover{
        background: $light;
        color: $dark;
    }
}
.YavinIV{
    background-image: url('../components/Body/Card/img/YavinIV.jpg');
    width: 100%;
    height: calc(50vh - 40px);
    background-size: cover;
    background-position: center;
    color: transparent;
    position: relative;
    &:hover{
        background: $light;
        color: $dark;
    }
}
.Hoth{
    background-image: url('../components/Body/Card/img/Hoth.jpg');
    width: 100%;
    height: calc(50vh - 40px);
    background-size: cover;
    background-position: center;
    color: transparent;
    position: relative;
    &:hover{
        background: $light;
        color: $dark;
    }
}
.Dagobah{
    background-image: url('../components/Body/Card/img/Dagobah.jpg');
    width: 100%;
    height: calc(50vh - 40px);
    background-size: cover;
    background-position: center;
    color: transparent;
    position: relative;
    &:hover{
        background: $light;
        color: $dark;
    }
}
.Bespin{
    background-image: url('../components/Body/Card/img/Bespin.jpg');
    width: 100%;
    height: calc(50vh - 40px);
    background-size: cover;
    background-position: center;
    color: transparent;
    position: relative;
    &:hover{
        background: $light;
        color: $dark;
    }
}
.Endor{
    background-image: url('../components/Body/Card/img/Endor.jpg');
    width: 100%;
    height: calc(50vh - 40px);
    background-size: cover;
    background-position: center;
    color: transparent;
    position: relative;
    &:hover{
        background: $light;
        color: $dark;
    }
}
.Naboo{
    background-image: url('../components/Body/Card/img/Naboo.jpg');
    width: 100%;
    height: calc(50vh - 40px);
    background-size: cover;
    background-position: center;
    color: transparent;
    position: relative;
    &:hover{
        background: $light;
        color: $dark;
    }
}
.Coruscant{
    background-image: url('../components/Body/Card/img/Coruscant.jpg');
    width: 100%;
    height: calc(50vh - 40px);
    background-size: cover;
    background-position: center;
    color: transparent;
    position: relative;
    &:hover{
        background: $light;
        color: $dark;
    }
}
.BlowUpAlderaan{
    background-image: url('../components/Body/Card/img/ex-Alderaan.gif');
    width: 100%;
    height: calc(50vh - 40px);
    background-size: cover;
    background-position: center;
    color: transparent;
    border-color: transparent;
    position: relative;
    .terminate{
        &:hover{
            border-color: transparent;
            color: transparent;
        }
    }
}
.BlowUpYavinIV{
    background-image: url('../components/Body/Card/img/ex-YavinIV.gif');
    width: 100%;
    height: calc(50vh - 40px);
    background-size: cover;
    background-position: center;
    color: transparent;
    border-color: transparent;
    position: relative;
    .terminate{
        &:hover{
            border-color: transparent;
            color: transparent;
        }
    }
}
.BlowUpHoth{
    background-image: url('../components/Body/Card/img/ex-Hoth.gif');
    width: 100%;
    height: calc(50vh - 40px);
    background-size: cover;
    background-position: center;
    color: transparent;
    border-color: transparent;
    position: relative;
    .terminate{
        &:hover{
            border-color: transparent;
            color: transparent;
        }
    }
}
.BlowUpDagobah{
    background-image: url('../components/Body/Card/img/ex-Dagobah.gif');
    width: 100%;
    height: calc(50vh - 40px);
    background-size: cover;
    background-position: center;
    color: transparent;
    border-color: transparent;
    position: relative;
    .terminate{
        &:hover{
            border-color: transparent;
            color: transparent;
        }
    }
}
.BlowUpBespin{
    background-image: url('../components/Body/Card/img/ex-Bespin.gif');
    width: 100%;
    height: calc(50vh - 40px);
    background-size: cover;
    background-position: center;
    color: transparent;
    border-color: transparent;
    position: relative;
    .terminate{
        &:hover{
            border-color: transparent;
            color: transparent;
        }
    }
}
.BlowUpEndor{
    background-image: url('../components/Body/Card/img/ex-Endor.gif');
    width: 100%;
    height: calc(50vh - 40px);
    background-size: cover;
    background-position: center;
    color: transparent;
    border-color: transparent;
    position: relative;
    .terminate{
        &:hover{
            border-color: transparent;
            color: transparent;
        }
    }
}
.BlowUpNaboo{
    background-image: url('../components/Body/Card/img/ex-Naboo.gif');
    width: 100%;
    height: calc(50vh - 40px);
    background-size: cover;
    background-position: center;
    color: transparent;
    border-color: transparent;
    position: relative;
    .terminate{
        &:hover{
            border-color: transparent;
            color: transparent;
        }
    }
}
.BlowUpCoruscant{
    background-image: url('../components/Body/Card/img/ex-Coruscant.gif');
    width: 100%;
    height: calc(50vh - 40px);
    background-size: cover;
    background-position: center;
    color: transparent;
    border-color: transparent;
    position: relative;
    .terminate{
        &:hover{
            border-color: transparent;
            color: transparent;
        }
    }
}
.Blown{
    -webkit-transition: width .5s;
    transition: width .5s;
    background: #000;
    height: 200px;
    width: 0px;
}
